*{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;    
}

header{
    height: 100px;
}
.homelogo {
    display: block;
    height: 100%;
    margin: 0 auto;
}
a {
    text-decoration-line: none;
}
li {
    line-height: 60px;
}
main{
    position: relative ;
    left: 10%;
    top: -250px;
    width: 80%;
}
.sticky {
    width: 150px;
    height: 250px;
    border: 1px solid white;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.topimg {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}
.text1 {
    width: 50%;
    padding: 30px;
    text-align: center;
    position: relative;
    left: 21%;
    font-size: 30px;
    font-family: var(--page-font-family-var);
}
i{
    color: rgba(211, 211, 211, 0.51);
}
div h1{
    width: 50%;
    padding: 10px 0;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
}
div h2{
    width: 60%;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
.detail{
    width: 60%;
    position: relative;
    line-height: 50px;
    margin: 0 auto;
}
video{
    margin: 20px;
    width: 50%;
    height: auto;
    position: relative;
    top: 50px;
    left: 23%;
    border: 1px solid white;
}
div img{
    margin: 0 auto;
    height: auto;
    position: relative;
}
div h4{
    margin: 0 auto;
    height: auto;
    position: relative;
    left: 25%;
}
.passive1 img{
    left: 25%;
}
.passive1 h3{
    position: relative;
}