*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.toplogo{
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}
h1{
    font-family: 'Creepster', system-ui;
    
}
a{
  text-decoration: none;
    color: black;
}
ul li{
    margin: 0 100px;
}
.nav li{
    font-family: 'Bebas Neue', sans-serif;
}
ul{
    display: flex;
    position: absolute;
    top: 10px;
    left: 300px;
}
.nav li a:hover{
    cursor: pointer;
    color: gray;
    transition: 0.4s;
}