body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 648px;
    height: 531px;
    border: 1px solid black;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0b/Palace_Logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /*
    background-repeat: repeat-x; 가로로 이미지 반복
    background-repeat: repeat-y; 세로로 이미지 반복
    background-size: contain; 비율유지 영역안에 가득채우기 
    background-size: cover; 배경이미지가 잘리더라도 채움*/
    background-position: 100% 50%; /*오른쪽 끝 위에서 중앙*/
    background-position: 20px 60px; /*위치*/
    background-position: 100% 50%; /*오른쪽 아래로*/
}