.font-size-px16{
    font-size: 16px;
}
.font-size-vw1{
    font-size: 1vw;
}
.font-size-vw15{
    font-size: 1.5vw;
}
.font-size-vw25{
    font-size: 2.5vw;
}
.font-size-vh1{
    font-size: 1vh;
}
.font-size-vh15{
    font-size: 1.5vh;
}.font-size-vh25{
    font-size: 2.5vh;
}