@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************** 몸통 부분 시작 ************************/
body{
    
    background-color: black;
    
}
.index_header{
    text-align: center;
}
.bg{
    position: fixed; width: 100vw; height: 100vh;
    left: 0; top: 0;
    background-image: url(/2th_individual_assignment/images/mainpage2.jpeg);
    background-size: cover;
    opacity: 0.1;
}
.logo {
    height: 50vh;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    font-family: 'Creepster', system-ui;
    color: white;
}
.time{
    font-family: Courier New,Courier,Monaco;
    color: white;
    line-height: 1.12;
}
h1{
    font-size: 100px;
}
.index_container{
    
}
li{
    font-size: small;
}
.menu{
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    /* transform : left, top 순서 */
    font-family: Courier New,Courier,Monaco;
}
.menu2 li:hover{
    display: inline-block;
    color: white;
    background-color: green;
}
li a{
    text-decoration: none;
    color: white;
    
}

.btlogo2{
    color: rgba(103, 103, 103, 0.987);
    position: absolute;
    top:68%;
    left:50%;
    transform: translate(-50%, -68%);    
    display: flex;
    justify-content: space-between;
}
.btlogo2:hover{
    cursor:pointer
}
.etc li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    position: absolute;
    left: 50%;
    top:93%;
    font-weight: 100;
}
